<h4>
		<%= @title %>
		<%= render 'software_dev_skills' %>
		<%= render 'education' %>
		<%= render 'software_experiance' %>
		<%= render 'reason_to_work_in_it' %>
		<%= render 'objectives' %>
		<%= render 'experience' %>
		<%= render 'additional_education' %>
		<%= render 'hobbies' %>

</h4>