<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "MySuit" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class="body">
    
        <div class="row head-row">
            <div class="col-xs-2 col-md-2">
              <div class="div-ava ">
                <a  class="ava"><%= link_to(image_tag("MYfoto.JPG", :title => "Back to Welcome Page", :class => "ava"), root_path)%></a>
              </div>
            </div>
            <div class="col-xs-4 col-md-4"><p title="Максим Кияница"><span class="name" >  Maxim Kyianytsia</span></p><p><span class="name" style="font-size: 20px;">  Maximus Smile</span></p></div>
            
            <div class="col-xs-6 col-md-6">
              <ul class="nav navbar-nav navbar-right contact">
                    <li><div class="phone"><br><br><span class="number-Phone"> +38(063)7175554 |</span></div></li>
                    <li><a href="https://www.facebook.com/maximus.smile" target="_blank" class=" div1"><%= image_tag("fb.png", :title => "My Facebook", :class => "ava1")%><span class="name"></span></a></li>
                    <li><a href="https://ua.linkedin.com/in/maxim-kyianytsia-6aa08394" target="_blank" class=" div1"><%= image_tag("in.png", :title => "My Linkedin", :class => "ava1")%><span class="name"></span></a></li>
                    <li><a href="https://github.com/MaximuSSmile" target="_blank" class=" div1"><%= image_tag("github.png", :title => "My GitHub", :class => "ava1")%><span class="name"></span></a></li>
                    <li><a class=" div1"><%= image_tag("skype.png", :title => "Maximusfury", :class => "ava1")%><span class="name"></span></a ></li>
              </ul>
            </div>
        </div>


<br>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-2">
          <div class="well sidebar-nav">
            <h3>Maximus Stories</h3>
            <ul class="nav nav-list">
              <li class="nav-header">About</li>
              <p>  Maxim Kyianytsia</p>
              <li><%= link_to "Projects", root_path  %></li>
              <li><%= link_to "Objectives", root_path  %></li>
              <li><%= link_to "Hobbies", root_path  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer class="navbar-right">
        <p>&copy; Create by Maxim Kyianytsia (Maximus Smile)   </p>
      </footer>

    </div> <!-- /container -->
<br>
  </body>
</html>
